body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

h1 {
    color: rgba(255, 255, 255, 0.52);
    margin-top: 00px;
    text-align: center;
    background: rgba(189, 124, 206, 0.37);
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 3.8em;
}

div {
    text-align: center;
}

div button {
    font-family: "Times New Roman", Times, sans-serif;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ae60bc80;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}